{% extends 'products/base.html' %}
{% block title %}
    Авторизация
{% endblock %}

{% block page_content %}
<div class="form-signin";>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating">
            {{ field }}
        </div>
        {% endfor %}
        <a href="{% url 'core:password-reset' %}">Забыли пароль</a>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    </form>
</div>
{% endblock %}


