{% extends 'products/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block page_content %}


    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Описание: {{ product.description }}</h5>
                <a href="{% url 'core:profile-detail' product.author.profile.id %}">Автор: {{ product.author }}</a>
                <p class="card-text">Опубликованно: {{ product.get_date_pub }}</p>
                <a href="{% url 'products:product-detail' product.id %}">Перейти к продукту</a>
                <p class="card-text">Likes: {{ product.likes_count }}</p>
                <form method="post" action="{% url 'products:product-like' product.id %}">
                    {% csrf_token %}
                    <button type="submit">🧡</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}


