{% extends 'products/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block page_content %}

    <ul>
        {% for product in products %}
            <li>
                <img src="{{ product.image.url }}" style="width: 250px; height: 250px;">
                <a href="{% url 'products:product-detail' product.id %}">Перейти к продукту</a>
                <a href="{% url 'core:profile-detail' product.author.profile.id %}">Автор: {{ product.author }}</a>
                <p>{{ product.get_date_pub }}</p>
                <p>Описание: {{ product.description }}</p>
                <p>Likes: {{ product.likes_count }} </p>
                <form method="post" action="{% url 'products:product-like' product.id %}">
                    {% csrf_token %}
                    <button type="submit">🧡</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}