<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная Страница</title>
</head>
<body>
    <ul>
        {% for product in popular_products %}
            <li>
                <img src="{{ product.image.url }}" style="width: 250px; height: 250px;">
                <a href="{% url 'products:product-detail' product.id %}">Перейти к продукту</a>
                <p>Автор: {{ product.author }}</p>
                <p>{{ product.date_pub }}</p>
                <p>Описание: {{ product.description }}</p>
                <p>Likes: {{ product.likes_count }} </p>
                <form method="post" action="{% url 'products:product-like' product.id %}">
                    {% csrf_token %}
                    <button type="submit">✅</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>